<div id="werte-anchor"></div>
<div class="values-container">
  <div class="top-row">
    <div class="extra-box">{{ langService.t('values.box1') }}</div>
    <div class="extra-box">{{ langService.t('values.box2') }}</div>
  </div>

  <div class="values">
    <div class="arbeit">
      <h2>{{ langService.t('values.title.arbeit') }}</h2>
      <p>{{ langService.t('values.buezer') }}</p>
      <p>{{ langService.t('values.loehne') }}</p>
      <p>{{ langService.t('values.umverteilung') }}</p>
      <p>{{ langService.t('values.gerechterWirtschaft') }}</p>
      <p>{{ langService.t('values.heimatverbunden') }}</p>
      <p>{{ langService.t('values.gegeLifestyle') }}</p>
      <p>{{ langService.t('values.landesverteidigung') }}</p>
      <p>{{ langService.t('values.gegeEU') }}</p>
    </div>
    <div class="technologie">
      <h2>{{ langService.t('values.title.technologie') }}</h2>
      <p>{{ langService.t('values.moderneSchweiz') }}</p>
      <p>{{ langService.t('values.industrialisierung') }}</p>
      <p>{{ langService.t('values.ki') }}</p>
    </div>
    <div class="umwelt">
      <h2>{{ langService.t('values.title.umwelt') }}</h2>
      <p>{{ langService.t('values.umweltpolitik') }}</p>
      <p>{{ langService.t('values.nichtAufKosten') }}</p>
    </div>
  </div>
</div>
