<div class="slider-wrapper">
  <div class="slider-container">
    <div
      class="slider-item"
      *ngFor="let item of items; let i = index; trackBy: trackByFn"
      [class.active]="i === currentIndex"
    >
      <ng-container *ngIf="item.type === 'video'; else imageTemplate">
        <video
          #videoEl
          class="media"
          autoplay
          muted
          loop
          playsinline
          preload="auto"
          [src]="item.src"
        ></video>
        <div class="caption" *ngIf="item.captionKey">
          <span>{{ langService.t(item.captionKey) }}</span>
        </div>
      </ng-container>
      <ng-template #imageTemplate>
        <div class="image-wrapper">
          <img class="media" [src]="item.src" alt="" />
          <div class="caption" *ngIf="item.captionKey">
            <span>{{ langService.t(item.captionKey) }}</span>
          </div>
        </div>
      </ng-template>
    </div>

    <button class="nav-button prev" (click)="prevSlide()">&#10094;</button>
    <button class="nav-button next" (click)="nextSlide()">&#10095;</button>

    <div class="indicator-wrapper">
      <div
        class="indicator"
        *ngFor="let item of items; let i = index"
        [class.active]="i === currentIndex"
        (click)="goToSlide(i)"
      ></div>
    </div>
  </div>
</div>
