<footer class="scroll-reveal">
  <div class="foot">
    <div class="description">
      <h5><a href="#" (click)="scrollTo('home-anchor')">{{ langService.t('nav.home') }}</a></h5>

      <p>{{ langService.t('footer.description') }}</p>

      <h5><a href="#" (click)="scrollTo('werte-anchor')">{{ langService.t('nav.values') }}</a></h5>
      <h5><a [routerLink]="['/contact-form']">{{ langService.t('footer.contact') }}</a></h5>
      <h5><a [routerLink]="['/faq']">{{ langService.t('footer.faq') }}</a></h5>
      <h5><a [routerLink]="['/admin']">{{ langService.t('footer.adminPanel') }}</a></h5>
    </div>

    <div class="links">
      <h5><a [routerLink]="['/about']">{{ langService.t('footer.about') }}</a></h5>
      <h5><a [routerLink]="['/article-list']">{{ langService.t('footer.allArticles') }}</a></h5>
      <h5><a [routerLink]="['/impressum']">{{ langService.t('footer.impressum') }}</a></h5>
      <h5><a [routerLink]="['/signup']">{{ langService.t('footer.register') }}</a></h5>
      <h5><a [routerLink]="['/signin']">{{ langService.t('footer.login') }}</a></h5>
    </div>

    <div class="social-media">
      <h5>{{ langService.t('footer.followUs') }}</h5>
      <div class="icons">
        <a href="https://www.tiktok.com" target="_blank" rel="noopener">
          <img src="/assets/images/tiktoklogo.webp" alt="TikTok" />
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener">
          <img src="/assets/images/Instagram_logo.webp" alt="Instagram" />
        </a>
        <a href="https://www.youtube.com" target="_blank" rel="noopener">
          <img src="/assets/images/YouTube_icon.webp" alt="YouTube" />
        </a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <h4>&copy; {{currentYear}} {{ webseitenTitel }}</h4>
  </div>
</footer>
