<div class="shop-container">
  <h2 class="title scroll-reveal"><mat-icon>shopping_bag</mat-icon> {{ langService.t('shop.featuredItems') }}</h2>
  <div class="products-grid stagger">
    <div *ngFor="let product of featuredProducts" class="product-card">
      <a [routerLink]="['/product', product.id]">
        <img [src]="'' + product.mediaUrl" [alt]="langService.getField(product, 'name')" />
        <h5>{{ langService.getField(product, 'name') }}</h5>
        <p *ngIf="product.price">CHF {{ product.price.toFixed(2) }}</p>
      </a>

      <!-- Warning if stock is 0 or exceeded -->
      <p *ngIf="product.stockWarning" class="stock-warning">
        {{ langService.t('shop.noStock') }}
      </p>

      <a *ngIf="product.isExternal" [href]="product.externalUrl" target="_blank" class="btn">{{ langService.t('shop.zumArtikel') }}</a>

      <button *ngIf="!product.isExternal" class="btn" (click)="addToCart(product)">
        {{ langService.t('shop.addToCart') }}
      </button>
    </div>
  </div>

  <h2 class="title scroll-reveal"><mat-icon>shopping_cart</mat-icon> {{ langService.t('shop.allProducts') }}</h2>
  <div class="products-grid stagger">
    <div *ngFor="let product of regularProducts" class="product-card">
      <a [routerLink]="['/product', product.id]">
        <img [src]="'' + product.mediaUrl" [alt]="langService.getField(product, 'name')" />

        <h5>{{ langService.getField(product, 'name') }}</h5>
        <p *ngIf="product.price">CHF {{ product.price.toFixed(2) }}</p>
      </a>

      <!-- Warning if stock is 0 or exceeded -->
      <p *ngIf="product.stockWarning" class="stock-warning">
        {{ langService.t('shop.noStock') }}
      </p>

      <a *ngIf="product.isExternal" [href]="product.externalUrl" target="_blank" class="btn">{{ langService.t('shop.externalItem') }}</a>

      <button *ngIf="!product.isExternal" class="btn" (click)="addToCart(product)">
        {{ langService.t('shop.addToCart') }}
      </button>
    </div>
  </div>
</div>
