<div class="container" id="popup" #popupRef [ngClass]="popup ? '' : 'hide'">
  <div class="close" title="schliessen">
    <img src="assets/CloseIcon.svg" (click)="closePopup()" />
  </div>

  <div class="head">
    <h4>{{ langService.t('popup.heading') }}</h4>
    <p>{{ langService.t('popup.body1') }}</p>
    <p>{{ langService.t('popup.body2') }}</p>
  </div>
  <div class="selection">
    <button value="false" class="" onclick="window.location.href='https://bkps.ch/HTML/mitgliedschaft/formular.php'">
      {{ langService.t('popup.joinBtn') }}
    </button>
    <button value="true" class="" onclick="window.location.href='https://bkps.ch/HTML/spenderschaft/formular.php'">
      {{ langService.t('popup.donateBtn') }}
    </button>
  </div>
</div>
