<div class="lang-dropdown" [class.open]="isOpen">
  <button class="lang-trigger" (click)="toggle()" type="button" [attr.aria-label]="current.label">
    <mat-icon class="lang-icon">translate</mat-icon>
    <span class="lang-code">{{ current.code | uppercase }}</span>
    <mat-icon class="lang-arrow-icon">expand_more</mat-icon>
  </button>

  <div class="lang-menu" *ngIf="isOpen">
    <button
      *ngFor="let l of langs"
      class="lang-option"
      [class.active]="langService.current === l.code"
      (click)="select(l.code)"
      type="button"
    >
      <img [src]="'assets/images/flags/' + l.flagFile" [alt]="l.label" class="lang-flag-img" />
      <span class="lang-label">{{ l.label }}</span>
    </button>
  </div>
</div>
