<div class="article-detail-wrapper" *ngIf="article">
  <div class="article-card">

    <h1 class="article-title">{{ langService.getField(article, 'title') }}</h1>

    <!-- Hero image -->
    <img *ngIf="getHeroImage()"
         [src]="'' + getHeroImage()"
         class="article-image"
         (click)="openLightbox(getHeroImage())"
         title="Click to enlarge" />

    <div class="article-body">

      <!-- DE: block-based body -->
      <ng-container *ngIf="currentLang === 'de'">
        <ng-container *ngFor="let block of article.body">
          <img *ngIf="block.type === 'image' && block.url !== getHeroImage()"
               [src]="'' + block.url"
               class="body-image"
               (click)="openLightbox(block.url)" />
          <div *ngIf="block.type === 'text'"
               [innerHTML]="convertToParagraphs(block.value)"
               class="body-text"
               (click)="onBodyClick($event)"></div>
        </ng-container>
      </ng-container>

      <!-- IT / FR / EN -->
      <ng-container *ngIf="currentLang !== 'de'">
        <div *ngIf="getTranslatedBody()"
             [innerHTML]="getTranslatedBody()"
             class="body-text"
             (click)="onBodyClick($event)"></div>
        <ng-container *ngIf="!getTranslatedBody()">
          <ng-container *ngFor="let block of article.body">
            <img *ngIf="block.type === 'image' && block.url !== getHeroImage()"
                 [src]="'' + block.url"
                 class="body-image"
                 (click)="openLightbox(block.url)" />
            <div *ngIf="block.type === 'text'"
                 [innerHTML]="convertToParagraphs(block.value)"
                 class="body-text"
                 (click)="onBodyClick($event)"></div>
          </ng-container>
        </ng-container>
      </ng-container>

    </div>

    <div class="article-meta">
      <span class="meta-item"><mat-icon>person</mat-icon> {{ article.author }}</span>
      <span class="meta-item"><mat-icon>calendar_today</mat-icon> {{ article.createdAt | date: 'dd-MM-yyyy' }}</span>
    </div>

  </div>
</div>

<!-- Lightbox -->
<div class="lightbox-backdrop" *ngIf="lightboxSrc" (click)="closeLightbox()">
  <button class="lightbox-close" (click)="closeLightbox()">✕</button>
  <img [src]="lightboxSrc" class="lightbox-img" (click)="$event.stopPropagation()" />
</div>
