<div class="article-detail-container" *ngIf="article">
  <div class="header-inline">
    <div class="text-info">
      <h1>{{ langService.getField(article, 'title') }}</h1>

      <!-- Date moved above author -->
      <p class="date">{{ article.createdAt | date: 'dd.MM.yyyy' }}</p>
      <p class="author"><mat-icon>person</mat-icon> {{ article.author }}</p>

      <!-- First 3 visible lines -->
     

<div class="body">
  <!-- DE: block-based body -->
  <ng-container *ngIf="currentLang === 'de'">
    <ng-container *ngFor="let block of article.body">
      <img *ngIf="block.type === 'image'" [src]="'http://localhost:5000' + block.url" class="article-body-image" />
      <p *ngIf="block.type === 'text'" [innerHTML]="convertToParagraphs(block.value)"></p>
    </ng-container>
  </ng-container>
  <!-- IT/FR/EN: show translated body if available, else fall back to DE blocks -->
  <ng-container *ngIf="currentLang !== 'de'">
    <div *ngIf="getTranslatedBody()" [innerHTML]="getTranslatedBody()"></div>
    <ng-container *ngIf="!getTranslatedBody()">
      <ng-container *ngFor="let block of article.body">
        <img *ngIf="block.type === 'image'" [src]="'http://localhost:5000' + block.url" class="article-body-image" />
        <p *ngIf="block.type === 'text'" [innerHTML]="convertToParagraphs(block.value)"></p>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

    </div>

    <!-- <div class="image-container">
      <img *ngFor="let img of article.imageUrls" class="mt-2"
      [src]="'http://localhost:5000' + img" alt="Article image" />
    </div> -->
  </div>
</div>
