<div class="article-detail-wrapper" *ngIf="article">
  <div class="article-card">

    <h1 class="article-title">{{ langService.getField(article, 'title') }}</h1>

    <!-- Show first image from body as hero image -->
    <img *ngIf="getHeroImage()"
         [src]="'http://localhost:5000' + getHeroImage()"
         class="article-image" />

    <div class="article-body">

      <!-- DE: block-based body -->
      <ng-container *ngIf="currentLang === 'de'">
        <ng-container *ngFor="let block of article.body">
          <img *ngIf="block.type === 'image' && block.url !== getHeroImage()"
               [src]="'http://localhost:5000' + block.url"
               class="body-image" />
          <div *ngIf="block.type === 'text'"
               [innerHTML]="convertToParagraphs(block.value)"
               class="body-text"></div>
        </ng-container>
      </ng-container>

      <!-- IT / FR / EN -->
      <ng-container *ngIf="currentLang !== 'de'">
        <div *ngIf="getTranslatedBody()"
             [innerHTML]="getTranslatedBody()"
             class="body-text"></div>
        <ng-container *ngIf="!getTranslatedBody()">
          <ng-container *ngFor="let block of article.body">
            <img *ngIf="block.type === 'image' && block.url !== getHeroImage()"
                 [src]="'http://localhost:5000' + block.url"
                 class="body-image" />
            <div *ngIf="block.type === 'text'"
                 [innerHTML]="convertToParagraphs(block.value)"
                 class="body-text"></div>
          </ng-container>
        </ng-container>
      </ng-container>

    </div>

    <div class="article-meta">
      <span class="meta-item"><mat-icon>person</mat-icon> {{ article.author }}</span>
      <span class="meta-item"><mat-icon>calendar_today</mat-icon> {{ article.createdAt | date: 'dd-MM-yyyy' }}</span>
    </div>

  </div>
</div>
